<nav class="navbar navbar-light" id="navbarAXA" style="width: 100vw; top: 0;position: fixed; background: rgba(242, 243, 247, 0)">
    <div class="container-fluid" style="width: 100vw;">
        <div class="row">
            <div class="col-11">
                <a class="navbar-brand" id="headerEle" style="font-weight: 100;color: #fff;"> AXA CONTROL</a>
            </div>
            <div class="col-1">
                <span id="headerEle2" style="font-size:40px;cursor:pointer;color: #fff; float: rigth;" onclick="openNav()">&#9776;</span>
            </div>
        </div>
    </div>
</nav> 
<header class="header-box">
    <div class="content-header">
        <h1 id="header-title">AXA Control </h1>
        <h5 id="header-desc">Control y gestion de clientes, para talleres de mecanicas automotriz</h5>
    </div>
        <div id="mySidenav" class="sidenav">
            <div >
            <!-- Navbar logout -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a >Inicio</a>
            <a routerLink="autenticar" >Iniciar Sesion</a>
            <a>Registrate</a>
            </div>

            <div >
                <!-- Navbar login -->
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  
                <a>Categorias</a>
                <a>Contactos</a>
                <a>Tareas</a>
                <a>Citas</a>
                <a>Mi Perfil</a>
                <a>Cerrar Sesion</a>
            </div>
        </div>
</header>

<div class="container-fluid">
<router-outlet></router-outlet>
</div>